<?xml version='1.0' standalone='yes'?>
<zeapps>
    <module>
        <module_id>com_zeapps_workload</module_id>
        <name>Workload</name>
        <version>1.0.0</version>
        <active>1</active>
        <dependencies>
            <module>
                <module_id>com_zeapps_contact</module_id>
                <version>1.0.0</version>
            </module>
        </dependencies>
    </module>
</zeapps>